::-webkit-scrollbar {
  display: none;
}

/* LOGIN PAGE & FORMS */
.loginForm {
  background: white;
}

.loginPage {
  background: #e5e5e5;
}

/* NAVIGATION BAR */
.navlinks:hover,
.active {
  color: orange;
  font-weight: bold;
  cursor: pointer;
}

/* IMAGE IN USER PAGE */
.user_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* IMAGE IN PROFILE PAGE */
.profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #646cff;
}

/* LOGIN AS USER/ADMIN LINK */
.linkToPortal {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

/* LOGIN BUTTONS */
.loginButton:hover {
  background-image: linear-gradient(to right, #646cff, green);
  font-weight: bold;
}

/* ACTION BUTTONS */
.approve:hover {
  background-color: darkgreen;
  font-weight: bold;
}
.deny:hover {
  background-color: maroon;
  font-weight: bold;
}
.edit:hover {
  background-color: orange;
  font-weight: bold;
}
.delete:hover {
  background-color: red;
  font-weight: bold;
}

/* STATBOX */
.dashboardDesc {
  font-size: 10px;
  background-color: #646cff;
  color: white;
  height: 20vh;
  width: 35vh;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.description {
  font-size: 0.9rem;
  padding: 10px;
}

.pTitle {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 7px;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* SEPARATION OF DETAILS LAYOUT IN PROFILE PAGE */
.display {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.educationDisplay {
  display: flex;
  justify-content: space-between;
}

/* DETAILS IN PROFILE PAGE */
.profileText {
  color: orangered;
  font-weight: bold;
  font-size: 20px;
}

/* CONTAINS ADD PRODUCT AND PAYMENT BOX DETAILS */
.productContainer {
  display: flex;
  justify-content: space-between;
}

.addProduct {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

/* PAYMENTBOX AT PRODUCTS PAGE FOR USERS */
.paymentBox {
  border: 5px dotted orangered;
  width: 23%;
  font-size: 17px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}

.paymentText {
  color: blue;
}
